body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

.ssblue-forgot { 
  width: 36px;      
  height: 36px;
  margin-bottom: 8px;
}

.forgot-page-wrapper {
  width: 100%;
  min-height: 100vh;            
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;         
  padding: 20px;
}

.forgot-page {
  width: 400px;
  background: #fff;             
  border-radius: 12px;         
  padding: 32px 28px;
  box-shadow: 0 6px 18px rgba(16, 24, 40, 0.08); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-site-title {
  font-size: 24px;
  margin: 6px 0 0 0;
  font-weight: 700;
  color: #111827;
}

.forgot-site-subtitle {
  font-size: 12px;
   margin-bottom: 30px;
  color: #6b7280;
  font-weight: 500;
}
.forgot-title {     
  font-size: 22px;
  font-weight: 600;
  text-align: center;  
  width: 100%;
  color: #111827;
}

.forgot-subtitle {
  margin: 0 0 20px 0;    
  font-size: 13px;
  font-weight: 400;
  color: #4B5563;
  text-align: center;  
  width: 100%;
  line-height: 1.5;
}

 .login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  background-color: #ffffff;
}



.login-form h2 {
  font-size: 24px;
  margin-bottom: 5px;  
  margin-top: 0;
}


.input-field-forgot {
  width: 100%;
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px 12px; 
  text-align: left;  
}

.btn-icon-forgot {
  width: 14px;  
  height: 14px;
  margin-right: 8px;
  justify-content: center;
}

.forgot-password {
  width: 80%;  
  max-width: 400px;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}


.forgot-password a {
  color: #6c63ff;
  text-decoration: none;
}

.forgot-button {
  width: 80%;
  max-width: 400px;
  margin-top: 20px;
  background-color: #008AD5 !important;
  border-color: #008AD5 !important;
  color: #fff !important;
}
.button-text-forgot {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
}

.login-button:hover {
  background-color: #008AD5 !important;  
  border-color: #008AD5 !important;
  color: #fff !important;
}

.create-account {
  margin-top: 20px;
}

.create-account a {
  color: #6c63ff;
  text-decoration: none;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
}

.side-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.emailerror-msg {
  color: #CE3A3B;
  font-size: 12px;
  font-weight: 400;
}

